<div class="row">
    <div class="col-md-12">
        <p class="input-header">Dataset Column</p>
        <select class="form-control" name="options.df_column">
            {% for column in visualization_asset.visualization.dataset.columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="input-header">Bins</p>
        <input type="text" name="options.bins" class="form-control"
               value="{{ visualization_asset.visualization.options.bins }}">
    </div>
</div>