{% extends 'core/manipulation_types/_base.html' %}

{% block manipulation_type_name %}slice{% endblock %}

{% block manipulation_type_title %}Slice{% endblock %}

{% block error_message %}An error occurred when attempting to execute this SLICE manipulation. See the
<a href="http://datm.readthedocs.io/en/latest/transformations.html#slice">documentation</a> for help troubleshooting.
{% endblock %}

{% block manipulation_inputs %}
    <div class="col-md-5">
        <p class="input-label">From Row</p>
        <input type="hidden" name="m[x].manipulation_type" class="form-control manipulation-field" value="slice">
        <input type="text" name="m[x].from_row" class="form-control manipulation-field" value="{{ manipulation.from_row }}">
    </div>
    <div class="col-md-1 equals-col">&#8594;</div>
    <div class="col-md-6">
        <p class="input-label">To Row</p>
        <input type="text" name="m[x].to_row" class="form-control manipulation-field" value="{{ manipulation.to_row }}">
    </div>
{% endblock %}