{% extends 'core/__base.html' %}

{% block page_head_includes %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/transformation.css" %}"/>
    <script type="text/javascript" src="{% static "core/js/json2.js" %}"></script>
    <script type="text/javascript" src="{% static "core/js/form2object.js" %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var icons = {
                header: "glyphicon glyphicon-expand",
                activeHeader: "glyphicon glyphicon-collapse-down"
            };
            $("#accordion").accordion({
                icons: icons
            });
            $("#toggle").button().on("click", function () {
                if ($("#accordion").accordion("option", "icons")) {
                    $("#accordion").accordion("option", "icons", null);
                } else {
                    $("#accordion").accordion("option", "icons", icons);
                }
            });
        });
    </script>

{% endblock %}

{% block global_nav_buttons %}
    <li>
        <button class="btn btn-default new-project-btn" data-toggle="modal" data-target=".new-project-modal">
            <span class="glyphicon glyphicon-plus-sign green-glyphicon" aria-hidden="true"></span> New Project
        </button>
    </li>
    <li>
        <a href="{% url 'core:home' %}">
            <button class="btn btn-default" data-toggle="modal" data-target=".new-project-modal">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Projects
            </button>
        </a>
    </li>

{% endblock %}

{% block page_content %}

    <div class="container-fluid project-title-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ project.name }}
                </div>
            </div>
        </div>
    </div>

    <div class="affixed-header">


        <div class="container-fluid page-sub-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Manipulation Set</h3>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-inline page-sub-header-btns pull-right">
                            <li>
                                <a href="{% url 'core:project' project_id=project.id %}">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return
                                        to Project Graph
                                    </button>
                                </a>
                            </li>
                            <li>
                                <button class="execute-btn btn" type="submit" form="transformationForm">
                                    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Execute/Save
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-12 transformation-header">
                <h2>{{ transformation.parent_dataset.project_asset.name }}
                    &#8594; {{ transformation.child_dataset.project_asset.name }}</h2>
            </div>
        </div>

        <div class="outcome-dialogue" hidden>
            <div class="message">
                Test dialogue message
            </div>
        </div>

        {% include 'core/components/dataset_section.html'  with dataset=transformation.parent_dataset dataset_type_label="PARENT DATASET" %}

        <div class="row">
            <div class="col-md-7 col-md-offset-5 dataset-arrow">&#8595;</div>
        </div>


        <div class="row manipulation-set-header">
            <div class="col-md-12">
                <h2>Manipulations</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row m-types-header">
                    <div class="col-md-12">
                        <h5>Manipulation Types</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="filter-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Filter</p>
                            <p class="manipulation-type-desc">Subset dataset rows based on conditions.</p>
                        </div>

                    </div>
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="select-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Select</p>
                            <p class="manipulation-type-desc">Keep only given columns.</p>
                        </div>

                    </div>
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="create-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Create</p>
                            <p class="manipulation-type-desc">Create a new column using other columns and functions.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="rename-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Rename</p>
                            <p class="manipulation-type-desc">Rename an existing column.</p>
                        </div>
                    </div>
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="slice-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Slice</p>
                            <p class="manipulation-type-desc">Subset dataset by slicing along given rows.</p>
                        </div>

                    </div>
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="group_by-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Group By</p>
                            <p class="manipulation-type-desc">Group the dataset and perform aggregate calculations.</p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="join-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Join</p>
                            <p class="manipulation-type-desc">Join dataset with another project dataset.</p>
                        </div>

                    </div>
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="sort_by-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Sort By</p>
                            <p class="manipulation-type-desc">Subset dataset by slicing along given rows.</p>
                        </div>

                    </div>
                    <div class="col-md-4 m-type-container">
                        <div>
                            <button class="btn btn-default clear-btn add-manipulation pull-right"
                                    data-manipulation-type-div="wide_to_long-manipulation">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </button>
                            <p class="manipulation-type-label">Wide to Long</p>
                            <p class="manipulation-type-desc">Convert columns from wide to long format.</p>
                        </div>
                    </div>
                </div>
            </div>

            <form id="transformationForm" action="javascript:getJson()">
                <div class="col-md-7 col-md-offset-1 manipulations-container " id="sortable">

                <div class="row m-set-header">
                    <div class="col-md-12">
                        <h5>Manipulation Set</h5>
                    </div>
                </div>

                    {% for manipulation in transformation.manipulation_list %}
                        {% if manipulation.manipulation_type == 'filter' %}
                            {% include "core/manipulation_types/filter.html" %}
                        {% elif manipulation.manipulation_type == 'select' %}
                            {% include "core/manipulation_types/select.html" %}
                        {% elif manipulation.manipulation_type == 'create' %}
                            {% include "core/manipulation_types/create.html" %}
                        {% elif manipulation.manipulation_type == 'rename' %}
                            {% include "core/manipulation_types/rename.html" %}
                        {% elif manipulation.manipulation_type == 'slice' %}
                            {% include "core/manipulation_types/slice.html" %}
                        {% elif manipulation.manipulation_type == 'group_by' %}
                            {% include "core/manipulation_types/group_by.html" %}
                        {% elif manipulation.manipulation_type == 'join' %}
                            {% include "core/manipulation_types/join.html" %}
                        {% elif manipulation.manipulation_type == 'sort_by' %}
                            {% include "core/manipulation_types/sort_by.html" %}
                        {% elif manipulation.manipulation_type == 'wide_to_long' %}
                            {% include "core/manipulation_types/wide_to_long.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>

        {% include 'core/components/dataset_section.html'  with dataset=transformation.child_dataset dataset_type_label="CHILD DATASET" iframe_id="child-dataset-iframe" %}

    </div>

    <div class="manipulation-type-templates">

        {% include "core/manipulation_types/filter.html" %}
        {% include "core/manipulation_types/select.html" %}
        {% include "core/manipulation_types/create.html" %}
        {% include "core/manipulation_types/rename.html" %}
        {% include "core/manipulation_types/slice.html" %}
        {% include "core/manipulation_types/group_by.html" %}
        {% include "core/manipulation_types/join.html" %}
        {% include "core/manipulation_types/sort_by.html" %}
        {% include "core/manipulation_types/wide_to_long.html" %}

    </div>

    <script>

        $("#sortable").sortable({
            handle: '.sort-handle'
        });

        $(".add-manipulation").click(function () {
            var button = $(this);
            var manipulation_type = button.data('manipulation-type-div');

            var manipulation_type_templates = ".manipulation-type-templates";

            $(".manipulation-type-templates" + " ." + manipulation_type).clone().appendTo(".manipulations-container");


            $("#sortable").sortable({
                handle: '.sort-handle'
            });

            $(".add-nested-manipulation").click(function () {
                var button = $(this);
                var parent_manipulation = button.parent().parent().parent();
                var nested_manip_template = parent_manipulation.find('.nested-manipulation-template').find('.nested-manipulation');
                var nested_manip_container = button.parent().parent();
                nested_manip_template.clone().appendTo(nested_manip_container)
            });


        });

        $(".add-nested-manipulation").click(function () {
            var button = $(this);
            var parent_manipulation = button.parent().parent().parent();
            var nested_manip_template = parent_manipulation.find('.nested-manipulation-template').find('.nested-manipulation');
            var nested_manip_container = button.parent().parent();
            nested_manip_template.clone().appendTo(nested_manip_container)
        });

    </script>

    <script>

        $(document).on('click', '.del-manipulation-btn', function () {
            $(this).parent().parent().parent().parent().remove();
        });
    </script>




    <!-- ====== JSON FORM ====== -->
    <form id="jsonForm"
          action="{% url 'core:edit_transformation' project_id=project.id transformation_id=transformation.project_asset.id %}"
          method="post" enctype="multipart/form-data"
          style="display: none;">
        {% csrf_token %}
        <input id="json-string" class="form-control" type="text" name="transformation_json"/>
    </form>




    <script>
        $('.affixed-header').affix({
            offset: {
                top: 74
            }
        })
    </script>


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


{% endblock %}

{% block page_modals %}

    <!-- "Working..." modal -->
    {% include "core/modals/working.html" %}

{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        function getJson() {

            $('.working-modal').modal('show');

            $("input[type=button]").attr("disabled", true);

            var manipulation_index = 0;
            $('.manipulations-container').find('.manipulation-container').each(function () {
                $(this).find('.form-control').each(function () {
                    var old_name = this.name;
                    this.name = old_name.replace(/\[x\]/g, "[" + manipulation_index + "]");

                });
                manipulation_index = manipulation_index + 1;
                var nested_manipulation_index = 0;
                $(this).find('.nested-manipulation-container').find('.nested-manipulation').each(function () {
                    $(this).find('.form-control').each(function () {
                        var old_name = this.name;
                        this.name = old_name.replace(/\[y\]/g, "[" + nested_manipulation_index + "]");

                    });

                    nested_manipulation_index = nested_manipulation_index + 1;

                });
            });


            var formData = form2object('transformationForm', '.', true,
                    function (node) {
                        if (node.id && node.id.match(/callbackTest/)) {
                            return {name: node.id, value: node.innerHTML};
                        }
                    });

            var jsonString = JSON.stringify(formData, null, '\t');


            document.getElementById('json-string').innerHTML = JSON.stringify(formData, null, '\t');

            document.getElementById("json-string").value = JSON.stringify(formData, null, '\t');

            $.ajax({
                url: '{% url 'core:edit_transformation' project_id=project.id transformation_id=transformation.project_asset.id %}',
                type: 'post',
                data: $('#jsonForm').serialize(),
                success: function (data) {
                    // var result_data = JSON.parse(data);
                    $('.error-msg').hide();
                    var invalid_manipulations = data['invalid_manipulations'];
                    var manipulation_index = 0;
                    var has_errors = false;

                    $('.manipulations-container').find('.manipulation-container').each(function () {
                        if ($.inArray(manipulation_index, invalid_manipulations) > -1) {
                            has_errors = true;
                            $(this).find('.error-msg').show()
                        }
                        manipulation_index = manipulation_index + 1
                    });

                    // $('.working-modal').modal('hide');
                    // document.getElementById('project-log-iframe').contentWindow.location.reload(true);
                    // $('.project-log-modal').modal('show');
                    document.getElementById('child-dataset-iframe').contentWindow.location.reload(true);
                    // $("input[type=button]").attr("disabled", false);
                    $('.working-modal').modal('hide');

                    if (has_errors) {
                        $('.outcome-dialogue').addClass('error');
                        $('.outcome-dialogue .message').text('Errors occurred when attempting transformation. See manipulation error messages for details.');

                    } else {
                        $('.outcome-dialogue').addClass('success');
                        $('.outcome-dialogue .message').text('Transformation successful.');
                    }
                    $(".outcome-dialogue").show("slide", {direction: "down"}, 300).delay(1500).slideUp('slow');
                }
            });


        }
    </script>

    {% if transformation.has_errors %}
        <script>
            $('.outcome-dialogue').addClass('attention');
            $('.outcome-dialogue .message').text('Transformation had errors on last execution. Executing now to identify issues.');
            $(".outcome-dialogue").show("slide", {direction: "down"}, 300).delay(1500).slideUp('slow');
            getJson();
        $('.outcome-dialogue').removeClass('attention');
        </script>
    {% endif %}
{% endblock %}