{% extends 'core/__base.html' %}

{% block page_head_includes %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/visualization.css" %}"/>
    <script type="text/javascript" src="{% static "core/js/json2.js" %}"></script>
    <script type="text/javascript" src="{% static "core/js/form2object.js" %}"></script>
{% endblock %}

{% block global_nav_buttons %}
    <li>
        <button class="btn btn-default new-project-btn" data-toggle="modal" data-target=".new-project-modal">
            <span class="glyphicon glyphicon-plus-sign green-glyphicon" aria-hidden="true"></span> New Project
        </button>
    </li>
    <li>
        <a href="{% url 'core:home' %}">
            <button class="btn btn-default" data-toggle="modal" data-target=".new-project-modal">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Projects
            </button>
        </a>
    </li>
{% endblock %}

{% block page_content %}

    <div class="container-fluid project-title-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ project.name }}
                </div>
            </div>
        </div>
    </div>

    <div class="affixed-header">


        <div class="container-fluid page-sub-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Visualization</h3>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-inline page-sub-header-btns pull-right">
                            <li>
                                <a href="{% url 'core:project' project_id=project.id %}">
                                    <button class="btn btn-default" type="submit" form="transformationForm">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return
                                        to Project Graph
                                    </button>
                                </a>
                            </li>
                            <li>
                                <button class="execute-btn btn" type="submit" form="parameterForm">
                                    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Execute/Save
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 visualization-title">
                <h1>{{ visualization_asset.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <form id="parameterForm" action="javascript:getJson()">
                    <div class="row visualization-input-container">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 title">Plot Labels</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="input-header">Title</p>
                                    <input type="text" name="labels.title" class="form-control"
                                           value="{{ visualization_asset.visualization.labels.title }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="input-header">Y Label</p>
                                    <input type="text" name="labels.y_label" class="form-control"
                                           value="{{ visualization_asset.visualization.labels.y_label }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="input-header">X Label</p>
                                    <input type="text" name="labels.x_label" class="form-control"
                                           value="{{ visualization_asset.visualization.labels.x_label }}">
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row visualization-input-container">
                    <div class="col-md-12">
                        <div class="row">
                                <div class="col-md-12 title">Options</div>
                        </div>
                        {% if visualization_asset.visualization.type == 'histogram' %}
                                {% include "core/visualization_forms/histogram.html" %}
                            {% elif visualization_asset.visualization.type == 'boxplot' %}
                                {% include "core/visualization_forms/boxplot.html" %}
                            {% endif %}
                    </div>
                </div>
                </form>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 img-container">
                        {% if visualization_asset.visualization.ready %}
                            <img src="{% url 'core:visualization_png' project_id=project.id visualization_id=visualization_asset.id %}"
                                 id="visualization-img">
                            {% else %}
                            Set visualization options to generate image.
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>





    <!-- ====== JSON FORM ====== -->
    <form id="jsonForm"
          action=""
          method="post" enctype="multipart/form-data"
          style="display: none;">
        {% csrf_token %}
        <input id="json-string" class="form-control" type="text" name="parameter_json"/>
    </form>

    <script type="text/javascript">
        function getJson() {


            $('.working-modal').modal('show');

            var formData = form2object('parameterForm', '.', true,
                    function (node) {
                        if (node.id && node.id.match(/callbackTest/)) {
                            return {name: node.id, value: node.innerHTML};
                        }
                    });

            var jsonString = JSON.stringify(formData, null, '\t');


            document.getElementById('json-string').innerHTML = JSON.stringify(formData, null, '\t');

            document.getElementById("json-string").value = JSON.stringify(formData, null, '\t');

            $.ajax({
                url: '{% url 'core:edit_visualization' project_id=project.id visualization_id=visualization_asset.id %}',
                type: 'post',
                data: $('#jsonForm').serialize(),
                success: function (data) {
                    // var result_data = JSON.parse(data);
                    // alert(JSON.stringify(data));
                    // $('.working-modal').modal('hide');
                    // document.getElementById('project-log-iframe').contentWindow.location.reload(true);
                    // $('.project-log-modal').modal('show');
                    $('#visualization-img').attr('src', $(this).attr('src') + '?' + Math.random());
                    document.getElementById('visualization-iframe').contentWindow.location.reload(true);
                }
            });


        }
    </script>





{% endblock %}

{% block page_modals %}



{% endblock %}