
header#pageheader, footer#pagefooter, .related, .document {
    width: 100%;
    max-width: 80rem;
    margin: auto;
}

.browser-window{
    width: 908px;
    height: 496px;
    padding-top: 90px;
    padding-left: 4px;
    background-image: url(_images/browser_window.png);
}